extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Us
        p Bookworm is a friendly community where book lovers can discover and share books. See which books your friends are reading, and keep track of books you&apos;re reading or want to read.


        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Get Started for FREE